Answer 1.

In [ ]:
#SQL	
''' RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	
    These dThese databases are not suited for hierarchical data storage.
    These databases are best suited for complex queries
    Vertically Scalable
    Follows ACID property
    Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc'''

#NoSQL
'''Non-relational or distributed database system.
	They have a dynamic schema
	These databases are best suited for hierarchical data storage.
	These databases are not so good for complex queries
	Horizontally scalable
	Follows CAP(consistency, availability, partition tolerance)
	Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc'''

Answer 2.

In [ ]:
'''Data Definition Language(DDL) is a subset of SQL and a part of Database Management System(DBMS).
DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. 
These commands are used to create or modify the tables in SQL.'''

                                                        ##COMMAND
#CREATE :
'''This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
Example:-
        We need to create a table for storing Student information of a particular College. Create syntax would be as below.

        CREATE TABLE Student_info
        (
        College_Id number(2),
        College_name varchar(30),
        Branch varchar(10)
        );'''

#ALTER :
'''This command is used to add, delete or change columns in the existing table. 
The user needs to know the existing table name and can do add, delete or modify tasks easily.

Example –
    In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.

        ALTER TABLE Student_info
        ADD CGPA number;'''

#TRUNCATE :
''' This command is used to remove all rows from the table, but the structure of the table still exists.

Example –
    The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. The command they can use is as follows.

            TRUNCATE TABLE Student_info;'''

#DROP :
'''This command is used to remove an existing table along with its structure from the Database.

Example –
    If the College Authority wants to change their Database by deleting the Student_info Table. 

        DROP TABLE Student_info;'''

Answer 3.

In [ ]:

#DML(Data Manipulation language)
'''The structured query language commands deal with the manipulation of data present in the database that belongs to the DML or Data Manipulation Language.
This includes most of the SQL statements.'''

                                                        #COMMAND

#INSERT
'''Insert command is used to insert data into a table.

Syntax

Insert into <table_name> (column list) values (column values);
Example, if we want to insert multiple rows to the Employee table, we can use the following command −

    Insert into Employee(Emp_id, Emp_name) values (001, “ bhanu”);
    Insert into Employee(Emp_id, Emp_name) values (002, “ hari”);
    Insert into Employee(Emp_id, Emp_name) values (003, “ bob”);'''

#DELETE
'''Delete command is used to delete records from a database table.

Syntax
    Delete from <table_name>WHERE condition;

Example: if we want to delete an entire row of employee id 002, we can use the following command −

    DELETE from Employee WHERE Emp_id=002;'''

#UPDATE
'''Update command is used to update existing data within a table.

Syntax
    UPDATE <table_name> SET column_number =value_number WHERE condition;

Example: if we want to update the name of the employee having the employee id 001, we can use the command given below −

    UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;'''

Answer 4.

In [ ]:
#DQL(Data Query Language)
'''DQL statements are used for performing queries on the data within schema objects.
    The purpose of DQL commands is to get the schema relation based on the query passed to it.'''
#SELECT Syntax
'''SELECT column1, column2, ...
    FROM table_name;
    Here, column1, column2, ... are the field names of the table you want to select data from.
    If you want to select all the fields available in the table, use the following syntax:

    SELECT * FROM table_name;'''

Answer 5.

In [ ]:
#Primary Key
'''A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. '''

#Foreign key:
'''A foreign key is generally used to build a relationship between the two tables. The table allows only one primary key.'''

Answer 6.

In [ ]:
! pip install mysql-connector-python

import mysql.connector

# Establishing the connection
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object using the cursor() method
cursor = connection.cursor()

# Executing an SQL query using the execute() method
cursor.execute("SELECT * FROM your_table")

# Fetching data from the cursor using fetchall() method
data = cursor.fetchall()

# Iterating over the data
for row in data:
    print(row)

# Closing the cursor
cursor.close()

# Closing the connection
connection.close()

#cursor(): 
'''The cursor() method is used to create a cursor object. 
The cursor object allows you to execute SQL queries and fetch the results. 
It acts as a control structure that helps in executing SQL statements and managing the result sets. 
The cursor object is obtained from the connection object.'''

#execute():
'''The execute() method is used to execute an SQL query. 
You pass the SQL query as a string parameter to this method. 
The executed query can be a Data Manipulation Language (DML) statement like SELECT, INSERT, UPDATE, or DELETE. The method returns the number of affected rows. 
In the example above, we execute a SELECT query to retrieve data from the table.'''

Answer 7.

In [ ]:
#FROM: 
'''The FROM clause specifies the tables from which the data will be retrieved. 
    It is the first clause to be executed, and it identifies the tables involved in the query.'''

#JOIN: 
'''If the query involves joining multiple tables, the JOIN clause is executed next. 
It specifies how the tables should be linked based on the specified join conditions.'''

#WHERE: 
'''The WHERE clause is used to filter the rows based on specific conditions. 
It is executed after the FROM and JOIN clauses and before the GROUP BY clause (if present). 
It narrows down the result set by applying the specified conditions.'''

#GROUP BY:
'''' The GROUP BY clause is used to group the rows based on one or more columns.
 It is executed after the WHERE clause and before the HAVING clause (if present). 
 It combines rows with the same values in the specified columns into groups.'''

#HAVING: 
'''The HAVING clause is similar to the WHERE clause but is used with grouped data. 
It filters the grouped rows based on conditions. It is executed after the GROUP BY clause and before the SELECT clause.'''

#SELECT: 
'''The SELECT clause is used to specify the columns to retrieve from the tables. 
It is executed after the previous clauses and retrieves the requested columns from the filtered and grouped rows.'''

#DISTINCT: 
'''The DISTINCT keyword, if present, eliminates duplicate rows from the result set. It is executed after the SELECT clause.'''

#ORDER BY: 
'''The ORDER BY clause is used to sort the result set based on one or more columns. It is executed after the SELECT and DISTINCT clauses.'''

#LIMIT or OFFSET: 
'''The LIMIT clause is used to limit the number of rows returned by the query, while the OFFSET clause is used to skip a specified number of rows before returning the result set. 
These clauses are executed after all the previous clauses.'''