ANSWER 1.

In [ ]:
#For loop: A for loop is a control flow statement that executes code repeatedly for a particular number of iterations.
#In this control flow statement, the keyword used is for. 
#The for loop is used when the number of iterations is already known.

#syntax of for loop:
value= [True, True] # Initialization
for iterator_var in value: # Condition and Updation
    "statements" # Body of loop

In [ ]:
#example of For Loop
n = [1, 2, 3]  # Initialization
for i in n:  # Condition and Updation
    print(i)

In [ ]:
#While loop: A loop that executes a single statement or a group of statements for the given true condition. 
#The keyword used to represent this loop is while. 
#A while loop is used when the number of iterations is unknown. 
# The statement repeats itself till the boolean value becomes false. In a while loop, the condition is tested at the start, also known as the pre-test loop. 
#Let's see the flow of the while loop:

#syntax of while loop
i= True # Initialization
while i: # Condition
    "statement" # Body of loop

In [ ]:
#example of While Loop
i = 1  # Initialization
while i < 6:  # Condition
    print(i)
    i += 1  # Updation

ANSWER 2.

In [3]:
n=int(input("enter the postive number"))
for i in range(n):
    print(i,end=" ")
sum=0
for i in range(n):
    sum += i
print("\nSum of numbers :", sum)

0 1 2 3 4 5 6 7 8 9 10
Sum of numbers : 55

In [7]:
#2nd method sum of natural number
from functools import  reduce
n=[1,2,3,4,5,6,7,8,9,10]

sum=reduce(lambda x,y:x+y,n)
print(sum)

55

In [19]:
#sum of natural number from while
num = int(input("Enter a postive number: ")) 
sum = 0
while(num > 0):
    sum += num
    num -= 1
print("The result is", sum)

The result is 66

ANSWER 3.

In [9]:
unit = int(input("Enter your unit: "))
if unit <= 100:
    bill = unit * 4.5
elif unit >= 101 and unit <= 200:
    bill = 450 + ((unit - 100) *6)
elif unit >= 201 and unit <= 300:
    bill = 346 + 600 + ((unit - 200) * 10)
else:
    bill = 450 + 600 + 1000 + ((unit-300)  * 20)
print("Total Bill Unit:",bill)

Total Bill Unit: 2250

ANSWER 4.

In [13]:
#FOR LOOP
l=list(range(1,101))
cube=[]

for i in l:
    cube.append(i**3)
print(cube)
print("\n") 
l=list(filter(lambda x:x%4==0 or x%5==0,cube))
print(l)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]


[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [12]:
#while loop
i=1
cube=[]
while i<=100:
    cube.append(i*i*i)
    i+=1
print(cube)
print("\n")
l=list(filter(lambda x:x%4==0 or x%5==0,cube))    
print(l)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]


[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

ANSWER 5.

In [10]:
def vowel_count(str):
    count = 0
    vowel = set("aeiouAEIOU")
    for alphabet in str:
        if alphabet in vowel:
            count +=1
    print("No. of vowels :", count)
str = "i want to bcome a data scientist"
vowel_count(str)

No. of vowels : 11